body {
    margin: 0;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1a1a1a 0%, #000000 100%);
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#final-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff69b4;
    /* font-size: 8em; */
    font-size: 80px;
    font-family: 'Arial', sans-serif;
    text-shadow: 0 0 10px #ff1493;
    opacity: 0;
    transition: opacity 2s;
}


/* .volume-control {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

#volumeSlider {
    vertical-align: middle;
    width: 100px;
} */